:root {
  --backgroud-color: #7ac5c6;
  --header-bg-color: #f0ac50;
  --header-text-color: #9599ac;
  --main-text: black;
  --nav-bar-color: #9599ac;
  --text-style: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroud-color);
  font-family: var(--text-style);
  max-width: 1800px;
  margin: 0 auto;
}

/* HEADER */
header {
  width: 100%;
  height: 10vh;
  background: var(--backgroud-color);
  border-bottom: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header h1 {
  color: var(--header-bg-color);
  font-size: 4em;
  width: fit-content;
  padding: 5px;
}

header a {
  text-decoration: none;
  color: var(--header-text-color);
}

a:hover {
  text-shadow: #fc0 1px 0 10px;
}

/* NAV BAR */

nav li {
  display: inline;
  font-size: 1.5em;
  color: var(--header-text-color);
}

nav :hover {
  color: aliceblue;
}

.nav-bar {
  font-weight: 500;
  text-align: right;
  border-bottom: 5px solid #caab76;
}

/* FIGURE */

figure {
  background-color: var(--header-bg-color);
  display: flex;
  height: 150px;
  width: 100%;
  background: var(--header-bg-color);
  color: silver;
  justify-content: space-between;
}

figure img {
  height: 200px;
  display: flex;
  align-self: baseline;
  margin-left: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

figure h2 {
  margin: 25px;
  color: var(--header-text-color);
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

/* MAIN */

main {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* SECTION */

section {
  width: 70%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

section h3 {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: x-large;
}

.about-me p {
  border-left: 5px solid black;
  padding-left: 10px;
}

section a {
  text-decoration: none;
}

section a h2 {
  position: relative;
  color: var(--header-bg-color);
}

/* Work Section*/

.work {
  display: flex;
  border: none;
  align-items: center;
  position: relative;
}

.work-picture {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-left: 5px solid black;
}

#big-picture {
  width: 600px;
  height: 400px;
}

/* Contact Section */
.contact {
  display: flex;
  border: none;
  align-items: center;
  justify-content: flex-start;
}

.contact-info {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.5em;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  min-width: 700px;
  flex-grow: 1;
  display: flex;
  align-items: right;
  border-left: 5px solid black;
  background-color: var(--header-bg-color);
}




/* At 992 and smaller */

@media screen and (max-width: 992px) {
  
  /* move the border from the left ot the top */
  .info-box {
    border-top: 5px solid black;
    border-left: none;
  }

  /* englarge my name at the top of the screen */
  header {
    width: 100%;
    height: 20vh;
    background: var(--backgroud-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  header h1 {
    font-size: 5em;
    justify-content: center;
  }

  section {
    flex-direction: column;
    justify-content: center;
  }

  .about-me {
    display: flex;
    border: none;
    align-items: center;
    background-color: none;
  }

/* move the border from the left side to the top */
  .about-me p {
    border-top: 5px solid black;
    border-left: none;
  }

  .work-picture{
    border-top: 5px solid black;
    border-left: none;
    min-width: none;
    }
  }

  section h3 {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 50px;
    justify-content: center;
  }

  section div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    justify-content: center;
  }

/* At 768 and smaller */
@media screen and (max-width: 768px) {
 
  /* contact info gets in column */
  .contact-info {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* my picture goes away */
  header h1 {
    font-size: 2em;
  }
  /* my name gets smaller */
  figure img {
    display: none;
  }

  /* subtitle gets bigger */
  figure h2 {
  font-size: 40px;
  }

  section {
    flex-direction: column;
    justify-content: center;
  }

  .work-picture {
    min-width: none;
  }

  section div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
  }

  .info-box {
    min-width: none;
  }

/* The top picutre becomes the same size as the others */
  #big-picture {
    width: 315px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
}
