:root {
  --backgroud-color: lightblue;
  --header-bg-color: darkgoldenrod;
  --header-text-color:lightblue;
  --main-text: black;
  --text-stsyle: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroud-color);
  font-family: var(--text-stsyle);
  max-width: 1800px;
}

/* HEADER */
header{
  width:100%;
  height: 10vh;
  background: var(--backgroud-color);
  border-bottom:1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header h1 {
  color:var(--header-bg-color);
  font-size: 4em;
  width: fit-content;
  padding: 5px;
}

a {
  text-decoration: none;
  
}

/* NAV BAR */

nav li{
display: inline;
font-size: 1.5em;
color: var(--header-bg-color)
}

nav :hover {
  color: aliceblue;
}

.nav-bar {
  font-weight:500;
  text-align: right;
  border-bottom: 5px solid lightyellow;
  }

/* FIGURE */

figure {
  background-color:var(--header-bg-color);
  display: flex;
  height: 20vh;
  width: 100%;
  background: darkgoldenrod;
  color: silver;
  justify-content: space-between;
  overflow: hidden;
}

figure img {
  display: flex;
  align-self: center;
  margin-left: 26px;
}

.my-picture {
  align-items: center;
}

figure h2 {
  justify-content:flex-end;
  align-self: flex-end;
}

/* MAIN */

main {
  min-height:70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 9000px;
  
}

/* SECTION */

section {
  width: 70%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  max-width: 900px;
}

section h3 {
display: flex;
align-items: center;
width:30%;
font-size: x-large;
}

section a {
  text-decoration: none;
}

section a h2 {
  position: relative;
  color: darkgoldenrod;
}
/* ABOUT ME */
.about-me {
  display: flex;
  border: none;
  align-items: left;
}

.info-box {
  flex-grow:1;
  display:flex;
  align-items: right;
  user-select: all;
  border-left: 5px solid black;
}

/* WORK */

.work {
  display: flex;
  border: none;
  align-items: center;
  position: relative;
}

.work-picture {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-left: 5px solid black; 
}

.work-picture a {
  border: 2px solid black;
}

/* CONTACT */

.contact {
  display: flex;
  border: none;
  align-items: center;
  justify-content: flex-start;
}

.contact-info {
  display: flex;
  width: 90%;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.5em;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

#big-picture {
  width: 600px;
    height: 400px;
}
 #little-picture {
  width: 250;
  height: 200;
 }
/* At 992 and smaller */

@media screen and (max-width: 992px) {
  /* move the border from the left ot the top */
  .info-box {
    border-top: 5px solid black;
    border-left: none;
  }
  .picture {
    border-top: 5px solid black;
    border-left: none;
  }

  .work-picture {
    border-top: 5px solid black;
    border-left: none;
  }
/* englarge my name at the top of the screen */
  header {
  width:100%;
  height: 20vh;
  background: var(--backgroud-color);
  border-bottom:1px solid black;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  }

  .nav-bar {
    display: block;
    text-align: right;
  }

  header h1 {
    font-size: 5em;
    justify-content: center;
    /* width: 100%; */
  }
  section {
    flex-direction: column;
    justify-content: center;
  
  }
  section h3 {
    display: flex;
    justify-content: center;
    width:30%;
    font-size: 50px;
  }

  section div a  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    justify-content: center;
  }
}


  /* At 768 and smaller */

@media screen and (width: 768px) {
  
    
}

